<include file="Public:header" />
<body>

<div class="subnav">
    <div class="content-menu ib-a blue line-x">
    　<a href='javascript:;' class="on"><em>模型字段管理</em></a> <a href="{:U('fieldadd?modid='.$modid)}"><em>添加模型字段</em></a>  </div>
</div>
<style type="text/css">
	html{_overflow-y:scroll}
</style>

<div class="pad-lr-10">
<div class="table-list">
<form name="myform" id="myform" action="{:U('order')}" method="post" onSubmit="check();return false;">
    <table width="100%" cellspacing="0" >
        <thead>
            <tr>
			 <th width="70">排序</th>
            <th width="192">字段名</th>
			<th width="153">别名</th>
			<th width="130">类型</th>
			<th width="60">系统</th>
            <th width="60">必填</th>
            <th width="60">前台显示</th>
            <th>是否禁用</th>
            <th width="226" >管理操作</th>
            </tr>
        </thead>
    <tbody>
	   <volist name="fieldarr" id="field">
        <tr>
		<td width='70' height="35" align='center'>
			<input name='listorders[{$field.id}]' type='text' size='3' value='{$field.listorder}' class='input-text-c'>
		</td>
		<td width='192' align="center">{$field.field}</td>
		<td width="153" align="center">{$field.name}</td>
		<td align='center'>{$field.formtype}</td>
		<td align='center'>{$field.issystem|showstatu}</td>
		<td align='center'>
		  {$field.isbase|showstatu}</td>
		<td align='center'> {$field.isadd|showstatu}	</td>
		<td align='center'>
		  {$field.disabled|showstatu}		  </td>
		<td align='center'>
		  <a href="{:U('fieldedit?fieldid='.$field[id])}">修改</a> 
		  <eq name="field[issystem]" value="0">
		    | 
		    <eq name="field[disabled]" value="1">
		      <a href="{:U('op?fieldid='.$field[id].'&abled=0')}">启用</a>
		      <else/>
		      <a href="{:U('op?fieldid='.$field[id].'&abled=1')}">禁用</a>
		      </eq>
		    | 
		    <a href="{:U('del?fid='.$field[id].'&modid='.$field[modelid])}" onClick="return confirm('确定删除？')">删除</a>
		    </eq>
		  </td>
	</tr>
	  </volist>
	    </tbody>
    </table>

<div class="btn"><input type="submit" class="button" name="dosubmit" value="排序"/>
</div> 

</form>
</div></div>

</body>
</html>